
.slide{
	width               : 100px;
	position            : relative;
	height              : 225px;
}


.slide1,.slide2,.slide3,.slide4{
	position            : absolute;
    margin				: 8px 0 0 0;
	width               : 1105px;
	height              : 350px;
	border-radius       : 10px 10px 10px 10px;
}
.slide1{
	background          : url(img/1.jpg)no-repeat center;
	background-size     : cover;
	animation           : fade 20s infinite;
	-webkit-animation   :fade 20s infinite;
}
.slide2{
	background          : url(img/2.jpg)no-repeat center;
	background-size     : cover;
	animation           : fade2 20s infinite;
	-webkit-animation   :fade2 20s infinite;
}
.slide3{
	background          : url(img/3.jpg)no-repeat center;
	background-size     : cover;
	animation           : fade3 20s infinite;
	-webkit-animation   :fade3 20s infinite;
}
.slide4{
	background          : url(img/4.jpg)no-repeat center;
	background-size     : cover;
	animation           : fade4 20s infinite;
	-webkit-animation   :fade4 20s infinite;
}
@keyframes fade{
						0%{opacity: 0}
						33.333%{opacity: 0}
						66.666%{opacity: 0}
						100%{opacity: 1}
}
@keyframes fade2{
						0%{opacity: 0}
						33.333%{opacity: 1}
						66.666%{opacity: 0}
						100%{opacity: 0}
}
@keyframes fade3{
						0%{opacity: 0}
						33.333%{opacity: 0}
						66.666%{opacity: 1}
						100%{opacity: 0}
}
@keyframes fade4{
						0%{opacity: 1}
						33.333%{opacity: 0}
						66.666%{opacity: 0}
						100%{opacity: 1}
}
#runningtext{
	width 				: 100%;
	height				: 25px;
	text-align			: center;
	/*membuat border cekukan*/
	border-radius       : 5px 5px 5px 5px;
	margin				: 5px 0 5px 0;
	background      	: #778899;
	color				: white;
	position			: relative;
}
